:root {
    --c-primary: var(--color-slate-900);
    --c-text-dark: #e1e9ffe3;
    --c-background: radial-gradient(circle at center,color-mix(in srgb, var(--c-primary) 95%, white), transparent);
    --c-secondary: color-mix(in srgb, color-mix(in srgb, var(--c-primary) 92%, white) 92%, transparent);
    --c-secondary-hover: color-mix(in srgb, color-mix(in srgb, var(--c-primary) 89%, white) 92%, transparent);
}


/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: var(--c-bg-light);
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */