:root {
    --c-primary: hsl(120, 14%, 10%);
    --c-text-dark: color-mix(in srgb, var(--c-primary) 20%, white);
    --c-background: radial-gradient(circle at center,color-mix(in srgb, var(--c-primary) 95%, white), transparent);
    --c-secondary: color-mix(in srgb, color-mix(in srgb, var(--c-primary) 92%, white) 30%, transparent);
    --c-secondary-hover: color-mix(in srgb, color-mix(in srgb, var(--c-primary) 92%, white) 90%, transparent);
}


/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: var(--c-bg-light);
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */